body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  font-family: "Press Start 2P", cursive;
}

.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Marco tipo estampilla */
.pixel-frame {
  width: 100%;
  height: 100vh;
  border: 20px solid red;
  background: white;
  position: relative;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
}

/* Simula borde irregular tipo "ticket" */
.pixel-frame::before {
  content: "";
  position: absolute;
  inset: -7px;
  border: 15px dashed red;
  pointer-events: none;
}

h1 {
  color: red;
  font-size: 20px;
  margin: 0px 0;
}

.heart {
  position: absolute;
  width: 100px;
}

.left {
  left: 90px;
  top: 45%;
}

.right {
  right: 90px;
  top: 45%;
}

.tablero {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.carta {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  filter: brightness(0);
  transition: 0.3s;
}

.carta.activa {
  filter: brightness(1);
}

.carta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nivel-final {
  display: none;
  background: red;
  margin-top: 40px;
  padding: 20px;
  border-radius: 15px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.nivel-final h2 {
  color: white;
}

.btn-siguiente {
  background: white;
  color: red;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}
