body {
  margin: 0;
  text-align: center;
  background: linear-gradient(to bottom, red);
  font-family: "Press Start 2P", cursive;
}
h1 {
  margin: 20px;
}

.game {
  width: 100%;
  height: 400px;
  background: white;
  position: relative;
  overflow: hidden;
  border-top: 5px solid #ff4d88;
  border-bottom: 5px solid #ff4d88;
}

#player {
  position: absolute;
  bottom: 10px;
  font-size: 40px;
  left: 50%;
  transition: 0.1s;
}

.objeto {
  position: absolute;
  top: 0;
  padding: 8px 12px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 45px;
}

.bueno {
  background: white;
  color: white;
}

.malo {
  background: white;
  color: white;
}

.contador {
  margin: 15px;
  font-size: 40px;
  color: white;
}

.mensaje {
  display: none;
  margin-top: 20px;
}

.mensaje button {
  padding: 15px 20px;
  font-size: 16px;
  background: white;
  color: #ff0000;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 6px 0 #b30000;
}

.mensaje button:hover {
  transform: scale(1.1);
}
