body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  font-family: "Press Start 2P", cursive;
}

.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Marco tipo estampilla */
.pixel-frame {
  width: 100%;
  height: 100vh;
  border: 20px solid red;
  background: white;
  position: relative;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
}

/* Simula borde irregular tipo "ticket" */
.pixel-frame::before {
  content: "";
  position: absolute;
  inset: -7px;
  border: 15px dashed red;
  pointer-events: none;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

.lives {
  display: flex;
  align-items: center;
  gap: 8px; /* espacio entre corazones */
  text-decoration: none;
}

.lives img {
  width: 40px; /* ajusta al tamaño que quieras */
  height: auto;
  text-decoration: none;
}

/* ===== BOTÓN ROJO DEL MENSAJE ===== */
.message {
  background: red;
  color: white;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 20px;
  font-size: 30px;
  margin-top: 10px;
}
/* ===== CARTAS EN FILA ===== */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 170px;
  margin-top: 90px;
}

/* ===== CADA CARTA ===== */
.card {
  text-align: center;
}

.avatar {
  text-decoration: none; /* quita subrayado */
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plus {
  text-decoration: none; /* quita subrayado */
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plus img {
  width: 120px;
  height: 90px;
  border-radius: 10px;
  background: white;
}

/* Mantén tu estilo de imagen */
.card img {
  width: 160px;
  height: 140px;

  border-radius: 10px;
  background: white;
}

.card p {
  margin-top: 10px;
  font-size: 12px;
  text-decoration: none;
}
